.wpl-proc,img {
	max-width: 100%
}

.post-content .tip {
	position: relative;
	margin: 2em 0;
	padding: 12px 24px 12px 30px;
	border-left: 4px solid #f66;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background-color: #f8f8f8
}

.post-content .tip:before {
	position: absolute;
	top: 14px;
	left: -12px;
	content: "!";
	width: 20px;
	height: 20px;
	border-radius: 100%;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	background-color: #f66;
	font-family: Dosis,'Source Sans Pro','Helvetica Neue',Arial,sans-serif
}

li.wpl-play,li.wpl-right {
	height: 40px;
	line-height: 40px;
	text-align: center
}

@font-face {
	font-family:iconfont;src:url(https://tomoki.cc/dist/font/iconfont.eot);src:url(https://tomoki.cc/dist/font/iconfont.eot?#iefix) format('embedded-opentype'),url(https://tomoki.cc/dist/font/iconfont.woff) format('woff'),url(https://tomoki.cc/dist/font/iconfont.ttf) format('truetype'),url(https://tomoki.cc/dist/font/iconfont.svg#iconfont) format('svg')
}

.iconfont {
	font-family: iconfont!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}

.wisplayer {
	border-radius: 3px;
	background: #fff;
	border: 1px solid #fff;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none
}

.wisplayeron {
	border: 1px solid #eee
}

.wisplayer li,.wisplayer ul {
	padding: 0;
	margin: 0;
	list-style-type: none
}

ul.wpl-main {
	overflow: hidden;
	height: 40px
}

li.wpl-play {
	float: left;
	width: 60px;
	cursor: pointer
}

li.wpl-right {
	float: right
}

li.wpl-right div {
	display: inline-block
}

.wpl-lyswt {
	margin: 0 10px;
	padding: 2px 5px;
	height: 20px;
	font-size: 15px;
	line-height: 20px;
	background: #E9E9E9;
	border-radius: 2px;
	cursor: pointer
}

.wpl-proc,li.wpl-bar {
	height: 10px;
	border-radius: 10px
}

.wpl-lyswt.wpl-lyon {
	color: #fff;
	background: #E36B6B
}

.wpl-time {
	font-size: 13px
}

li.wpl-bar {
	margin: 15px 150px 0 60px;
	width: auto;
	background: #eee;
	cursor: pointer
}

.wpl-proc {
	min-width: 0;
	width: 0;
	background: #42b983;
	position: relative
}

.wpl-lyricbox {
	display: none;
	border-top: 1px solid #eee;
	height: 100px;
	overflow: hidden;
	text-align: center
}

.wpl-lyricbox li {
	line-height: 20px;
	margin: 10px 0;
	font-size: 13px;
	color: #aeb6bf;
	transition: color .5s
}

ul.wpl-lyric {
	transition: margin-top .5s;
	position: relative;
	margin-top: 35px
}

.wpl-lyric li {
	min-height: 10px;
	transition: color .5s
}

.wpl-lyric li.current {
	color: #34495e;
	transition: color .5s
}

.wpl-detail {
	width: 250px;
	border-right: 1px solid #eee;
	height: 100%;
	float: left;
	background: #fbfbfb
}

.highlight,pre {
	background-color: #f8f8f8!important
}

.wpl-detail img {
	height: 70px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 13px 20px 10px;
	float: left;
	padding: 0
}

.wpl-detail ul {
	text-align: left;
	padding-right: 10px;
	margin-top: 14px
}

.wpl-detail li {
	line-height: 16px;
	font-size: 14px;
	color: #34495e;
	overflow: hidden;
	height: 16px
}

img.song-album {
	height: 12em;
	float: right;
	margin-right: 30px;
	display: block
}

.post-content .smallwpl .wisplayer {
	margin-left: 4.4em
}

ul.links li {
	width: 20em;
	display: inline-block;
	margin-bottom: 2.3em;
}

ul.links li img {
	height: 3em;
	margin: 0 1.5em 0 0;
	float: left;
	border: 3px solid #eee;
	padding: 0
}

ul.links li a {
	display: block;
	font-weight: 700
}

ul.links {
	/*padding-left: 4.5em;*/
	padding-top: 3em;
}

#disqus_thread,.ds-thread {
	margin-bottom: 2em!important
}

#ds-thread {
	margin: 0 30px
}

pre {
	font-size: .8em!important;
}

.highlight {
	position: relative!important;
	margin: 1em 0!important;
	border-radius: 2px!important;
	line-height: 1.1em!important;
	overflow-x: auto!important
}

.highlight table,.highlight td,.highlight tr {
	width: 100%!important;
	border-collapse: collapse!important;
	padding: 0!important;
	margin: 0!important
}

.highlight .gutter {
	display: none!important
}

.clear,hr {
	display: block
}

.highlight .code pre {
	padding: 1.2em 1.4em!important;
	line-height: 1.5em!important;
	margin: 0!important
}

.highlight.bash .code:after,.highlight.c .code:after,.highlight.cpp .code:after,.highlight.css .code:after,.highlight.diff .code:after,.highlight.html .code:after,.highlight.java .code:after,.highlight.js .code:after,.highlight.json .code:after,.highlight.perl .code:after,.highlight.php .code:after,.highlight.python .code:after,.highlight.ruby .code:after,.highlight.scss .code:after,.highlight.swift .code:after,.highlight.xml .code:after {
	position: absolute!important;
	top: 0!important;
	right: 0!important;
	color: #ccc!important;
	text-align: right!important;
	font-size: .75em!important;
	padding: 5px 10px 0!important;
	line-height: 15px!important;
	height: 15px!important;
	font-weight: 600!important
}

body,hr,html {
	padding: 0
}

blockquote cite,dl dt {
	font-weight: 700
}

.highlight.html .code:after {
	content: "HTML"
}

.highlight.js .code:after {
	content: "JS"
}

.highlight.bash .code:after {
	content: "BASH"
}

.highlight.css .code:after {
	content: "CSS"
}

.highlight.scss .code:after {
	content: "SCSS"
}

.highlight.diff .code:after {
	content: "DIFF"
}

.highlight.xml .code:after {
	content: "XML"
}

.highlight.python .code:after {
	content: "PYTHON"
}

.highlight.json .code:after {
	content: "JSON"
}

.highlight.swift .code:after {
	content: "SWIFT"
}

.highlight.ruby .code:after {
	content: "RUBY"
}

.highlight.perl .code:after {
	content: "PERL"
}

.highlight.php .code:after {
	content: "PHP"
}

.highlight.c .code:after {
	content: "C"
}

.highlight.java .code:after {
	content: "JAVA"
}

.highlight.cpp .code:after {
	content: 'C++'
}

pre {
	color: #525252!important
}

pre .constant,pre .function .keyword {
	color: #0092db!important
}

pre .attribute,pre .keyword {
	color: #e96900!important
}

pre .literal,pre .number {
	color: #ae81ff!important
}

pre .change,pre .clojure .built_in,pre .flow,pre .lisp .title,pre .nginx .title,pre .tag,pre .tag .title,pre .tex .special,pre .winutils {
	color: #2973b7!important
}

pre .regexp,pre .symbol,pre .symbol .string,pre .value {
	color: #42b983!important
}

pre .title {
	color: #83B917!important
}

pre .addition,pre .apache .cbracket,pre .apache .tag,pre .attr_selector,pre .built_in,pre .django .filter .argument,pre .django .template_tag,pre .django .variable,pre .envvar,pre .haskell .type,pre .javadoc,pre .preprocessor,pre .prompt,pre .pseudo,pre .ruby .class .parent,pre .smalltalk .array,pre .smalltalk .class,pre .smalltalk .localvars,pre .sql .aggregate,pre .stream,pre .string,pre .subst,pre .tag .value,pre .tex .command {
	color: #42b983!important
}

pre .apache .sqbracket,pre .comment,pre .doctype,pre .java .annotation,pre .pi,pre .python .decorator,pre .shebang,pre .template_comment,pre .tex .formula {
	color: #b3b3b3!important
}

pre .deletion {
	color: #BA4545!important
}

pre .coffeescript .javascript,pre .javascript .xml,pre .tex .formula,pre .xml .cdata,pre .xml .css,pre .xml .javascript,pre .xml .vbscript {
	opacity: .5!important
}

html {
	height: 100%;
	max-height: 100%;
	margin: 0
}

body {
	margin: 0;
	line-height: 1.6em
}

.clear {
	clear: both;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}

h1,h2,h3,h4,h5,h6 {
	text-rendering: optimizeLegibility;
	line-height: 1;
	margin: 2rem 0
}

h1,h2 {
	line-height: 1.2em
}

h1 {
	font-size: 2.1rem
}

h2 {
	font-size: 1.9rem
}

h3 {
	font-size: 1.75rem
}

h4,h5,h6 {
	font-size: 1.3rem
}

img {
	height: auto
}

dl,ol,p,ul {
	margin: 1em 0
}

ol ol,ol ul,ul ol,ul ul {
	margin: .4em 0
}

.content blockquote p,.content li p,.post blockquote p,.post li p,blockquote p,li p,ol p,ul p {
	margin: 0;
	overflow: visible
}

dl dd,dl dt {
	margin-bottom: 1em
}

a img {
	border: none
}

dl dt {
	float: left;
	width: 180px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap
}

dl dd {
	margin-left: 200px
}

hr {
	height: 1px;
	border: 0;
	border-top: 1px solid #efefef;
	margin: 3.2em 0
}

blockquote {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 1.6em 0 1.6em -2.2em;
	padding: 0 0 0 1.6em;
	border-left: #4a4a4a .4em solid
}

blockquote p {
	margin: .8em 0
}

blockquote small {
	display: inline-block;
	margin: .8em 0 .8em 1.5em;
	font-size: .9em;
	color: #ccc
}

blockquote small:before {
	content: '\2014 \00A0'
}

blockquote cite a {
	font-weight: 400
}

mark {
	background-color: #ffc336
}

code,tt {
	padding: 1px 3px;
	font-family: Inconsolata,monospace,sans-serif;
	font-size: .85em;
	white-space: pre-wrap;
	border: 1px solid #E3EDF3;
	background: #f7f7f9;
	color: #d14;
	border-radius: 2px
}

.toc {
	border: 1px solid #f0f0f0;
	margin-bottom: 20px;
	padding: 10px 30px
}

#fb_comments_container {
	overflow: hidden;
	margin: 0 auto
}

#fb_comments_container #fb_comments {
	list-style-type: none;
	padding: 0
}

#fb_comments_container #fb_comments h1 {
	font-size: 1.3em
}

#fb_comments_container #fb_comments h2 {
	font-size: 1.2em
}

#fb_comments_container #fb_comments h3 {
	font-size: 1.1em
}

#fb_comments_container #fb_comments h4,#fb_comments_container #fb_comments h5,#fb_comments_container #fb_comments h6 {
	font-size: 1.05em
}

#fb_comments_container #fb_comments .comment {
	position: relative;
	padding: 25px 0;
	border-bottom: 1px solid rgba(150,150,150,.2)
}

#fb_comments_container #fb_comments .comment .avatar {
	position: absolute;
	top: 25px;
	left: 0;
	width: 50px;
	float: left
}

#fb_comments_container #fb_comments .comment .avatar img {
	width: 48px;
	border: none;
	border-radius: 5px;
	margin: 0
}

#fb_comments_container #fb_comments .comment .c_content,#fb_comments_container #fb_comments .comment .comment_body {
	margin-left: 70px;
	display: block
}

#fb_comments_container #fb_comments .comment .c_content p,#fb_comments_container #fb_comments .comment .comment_body p {
	margin: 5px 0 15px;
	padding: 0;
	line-height: 1.8
}

#fb_comments_container #fb_comments .comment .c_content .author,#fb_comments_container #fb_comments .comment .comment_body .author {
	line-height: 1.5em;
	margin: 0;
	padding: 0
}

#fb_comments_container #fb_comments .comment .c_content .author b,#fb_comments_container #fb_comments .comment .comment_body .author b {
	color: #555
}

#fb_comments_container #fb_comments .comment .c_content .author small,#fb_comments_container #fb_comments .comment .comment_body .author small {
	font-weight: 400;
	padding-left: 10px;
	font-size: .7em;
	color: #666
}

#fb_new_comment {
	padding-bottom: 50px
}

#fb_new_comment textarea {
	border-radius: 5px;
	height: 80px;
	width: 98%;
	padding: 5px;
	font-size: 1em;
	border: 1px solid rgba(150,150,150,.5);
	line-height: 1.5
}

#fb_new_comment .comment_error {
	color: red;
	text-align: center;
	display: block;
	font-size: .8em;
	padding-top: 1em
}

#fb_new_comment .c_button:hover {
	background: #E60900;
	color: #fff;
	text-decoration: none
}

#fb_new_comment #c_submit,#fb_new_comment .c_button {
	cursor: pointer;
	font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;
	font-size: 1em;
	line-height: 1.3em;
	letter-spacing: 1px;
	border-radius: 5px;
	padding: 5px 5px 2px
}

#fb_new_comment .input_body {
	margin-top: 10px
}

#fb_new_comment .input_body ul {
	list-style: none;
	padding: 5px 0;
	margin: auto 0
}

#fb_new_comment .input_body ul li {
	float: left;
	margin-right: 2.2%
}

#fb_new_comment .input_body ul li label {
	line-height: 1em
}

#fb_new_comment .input_body ul li input {
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 5px;
	background: rgba(255,255,255,.5);
	margin: 0 0 10px
}

#SwfStore_farbox_0 {
	height: 0;
	overflow: hidden
}

@media screen and (max-width:320px) {
	#fb_comments .c_content,#fb_comments .comment_body {
		margin-left: 57px
	}
};;